<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper     
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!--  매퍼파일에 sql문 등록하기! -->
 
 <mapper namespace="wdson.me.mapper">
    <select id="selectAll" resultType="dept">
        select * from Persons
<!--         결과테이블의 컬럼명과 결과타입의 멤버변수이름이 같다면 결과타입의  -->
<!--         객체를 만들어서 해당멤버 변수에 맞게 넣어서 모델객체로 돌려줌 -->
        
    </select>
 
 </mapper>